connector.name=iceberg
iceberg.catalog.type=rest
iceberg.rest-catalog.oauth2.credential=key:secret
iceberg.rest-catalog.security=OAUTH2
iceberg.rest-catalog.uri=https://tableflow.us-east-2.aws.confluent.cloud/iceberg/catalog/organizations/<your-org>/environments/<your-env>
iceberg.rest-catalog.vended-credentials-enabled=true

fs.native-s3.enabled=true
s3.region=us-east-2

iceberg.security=read_only
